.buttons.d-flex.flex-nowrap
	.buttons__button-primary.d-flex.justify-content-center.align-items-center
		span Monthly
	.buttons__button-secondary.d-flex.justify-content-center.align-items-center
		span Yarly