.form.d-flex.justify-content-center.align-items-center
	.form__content
		h1 AppSon
		form.d-flex.flex-wrap.align-items-center.justify-content-center
			input(type="text", placeholder="Enter Your Email")
			input(type="button", value="SUBSCRIBE") 