.form.d-flex.justify-content-center.align-items-center
	.form__content
		h1 AppSon
		form(action="" method="method").d-flex.flex-wrap.align-items-center.justify-content-center
			input(type="input", value="", placeholder="Enter Your Email")
			input(type="button", value="SUBSCRIBE") 