@import "../../styles/colors.scss";

.trusted-by {
	min-height: 608px;
	background-color: $white-bg;
	// display: grid;
	// grid-template-columns: auto 1fr;

	&__image {}

	&__content {
		width: 100%;
		margin: 125px 0 0 125px;
		// position: relative;
	}


	&__carusel {
		position: relative;
		// top: 0;
		// left: 0;
		height: 215px;
		width: 100%;
		margin-top: 40px;

		// width: 1110px;
		input {
			visibility: hidden;
		}

		#cardholder-1 {
			display: flex;
			// display: inline-block;
			position: absolute;
			left: 0;
			transition: 1s;
			width: 100%;
			height: 100%;
			// top: 0;
		}

		#cardholder-2 {
			// display: inline-block;
			visibility: hidden;
			display: flex;
			position: absolute;
			width: 0;
			height: 0;
			left: 100%;
			transition: 1s;
			// margin-right: ;
		}

		#cardholder-3 {
			display: flex;
			visibility: hidden;
			// display: inline-block;
			width: 0;
			height: 0;
			position: absolute;
			left: 100%;
			transition: 1s;

		}

		#switch-1,
		#label-switch-1 {
			position: absolute;
			bottom: -5em;
			left: 0;
		}

		#switch-2,
		#label-switch-2 {
			position: absolute;
			bottom: -5em;
			left: 50px;
		}

		#switch-3,
		#label-switch-3 {
			position: absolute;
			bottom: -5em;
			left: 80px;
		}
	}

	&__cardholder {}



	&__card {
		width: 360px;
		height: 215px;
		border-radius: 5px;
		filter: drop-shadow(0 0 12.5px rgba(165, 165, 165, 0.1));
		background-color: #ffffff;
		margin-right: 30px;
		padding: 35px 30px;

		p {
			color: #929292;
		}

		>p {
			padding-top: 5px;
			padding-bottom: 10px;
		}

	}

	&__card:nth-child(3) {
		margin-right: -100px;
	}
}

//Переключатель 1
#switch-1:checked~#cardholder-1,
#switch-2:checked~#cardholder-2,
#switch-3:checked~#cardholder-3 {


	visibility: visible;
	// display: flex;
	left: 0;
	width: 100%;
	height: 100%;
}

#switch-1:checked~#cardholder-2,
#switch-1:checked~#cardholder-3,
#switch-2:checked~#cardholder-3 {
	visibility: hidden;
	// display: none;
	// display: flex;
	left: 100%;
	width: 0;
	height: 0;
}

#switch-2:checked~#cardholder-1,
#switch-3:checked~#cardholder-1,
#switch-3:checked~#cardholder-2 {
	visibility: hidden;
	// display: none;
	// display: flex;
	left: 0;
	width: 0;
	height: 0;
}