.trusted-by.d-flex
	img(src="/src/assets/images/image-trusted-by.png", alt="").trusted-by__image
	.trusted-by__content
		h2 Trusted By More Than 55M Peoples
		.trusted-by__carusel.d-flex.flex-wrap

			input(type="radio" name="radio")#switch-1
			input(type="radio" name="radio")#switch-2
			input(type="radio" name="radio")#switch-3
		
			label(for="switch-1")#label-switch-1
			label(for="switch-2")#label-switch-2
			label(for="switch-3")#label-switch-3
		

			.trusted-by__cardholder#cardholder-1
				.trusted-by__card
					.d-flex.justify-content-between
						h3 Raisa Moni
						a(href="#"): img(src="/src/assets/images/icon-twitter-blue.svg", alt="")
					p Envato Customer
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etamet.
				.trusted-by__card
					.d-flex.justify-content-between
						h3 Raisa Moni
						a(href="#"): img(src="/src/assets/images/icon-twitter-blue.svg", alt="")
					p Envato Customer
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etamet.
				.trusted-by__card
					.d-flex.justify-content-between
						h3 Raisa Moni
						a(href="#"): img(src="/src/assets/images/icon-twitter-blue.svg", alt="")
					p Envato Customer
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etamet.
			.trusted-by__cardholder#cardholder-2
				.trusted-by__card
					.d-flex.justify-content-between
						h3 Raisa Moni
						a(href="#"): img(src="/src/assets/images/icon-twitter-blue.svg", alt="")
					p Envato Customer
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etamet.
				.trusted-by__card
					.d-flex.justify-content-between
						h3 Raisa Moni
						a(href="#"): img(src="/src/assets/images/icon-twitter-blue.svg", alt="")
					p Envato Customer
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etamet.
				.trusted-by__card
					.d-flex.justify-content-between
						h3 Raisa Moni
						a(href="#"): img(src="/src/assets/images/icon-twitter-blue.svg", alt="")
					p Envato Customer
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etamet.
			.trusted-by__cardholder#cardholder-3
				.trusted-by__card
					.d-flex.justify-content-between
						h3 Raisa Moni
						a(href="#"): img(src="/src/assets/images/icon-twitter-blue.svg", alt="")
					p Envato Customer
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etamet.
				.trusted-by__card
					.d-flex.justify-content-between
						h3 Raisa Moni
						a(href="#"): img(src="/src/assets/images/icon-twitter-blue.svg", alt="")
					p Envato Customer
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etamet.
				.trusted-by__card
					.d-flex.justify-content-between
						h3 Raisa Moni
						a(href="#"): img(src="/src/assets/images/icon-twitter-blue.svg", alt="")
					p Envato Customer
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etamet.

			
		


