include ../button/button.pug

.main-navbar.d-flex.justify-content-between
	.main-navbar__logo
		|AppSon

	.main-navbar__nav.d-flex

		ul.nav.justify-content-end
			li.nav-item
				a.nav-link.active(href="#Home") Home
			li.nav-item
				a.nav-link.disabled(href="#Home") Home
			li.nav-item
				a.nav-link.disabled(href="#Home") Home

		.main-navbar__signup-btn
			+button("SIGN UP", "button_color_dark-blue")
		//mixin button
		//todo: mixin button