include ../button/button.pug

.main-navbar.d-flex.align-items-center.justify-content-between

	.main-navbar__logo.d-flex.align-items-center.justify-content-center.mr-auto
		|AppSon

	.main-navbar__nav.d-flex.align-items-center

		ul.nav.justify-content-between.align-items-center
			li.nav-item
				a.nav-link.active(href="#HOME") HOME
			li.nav-item
				a.nav-link.disabled(href="#FEATURES") FEATURES
			li.nav-item
				a.nav-link.disabled(href="#PRICING") PRICING
			li.nav-item
				a.nav-link.disabled(href="#PAGES") PAGES

	.main-navbar__signup-btn
		+button("SIGN UP", "button_color_dark-blue")