.trial.d-flex.justify-content-center.align-items-center
	.trial__content.d-flex.justify-content-between.flex-wrap
		.trial__text
			h2 Try 30 Days Free Trial
			p No credit card required
		.trial__button.d-flex.justify-content-center.align-items-center
			div Get Started  
			img(src="/src/assets/images/icon-arrow-white.svg", alt="")