.wrapper.d-flex.flex-column.m-auto

	include ../header/header.pug
	include ../feature-panels/feature-panels.pug
	include ../feature-topics/feature-topics.pug
	include ../how-it-works/how-it-works.pug
	include ../pricing-plan/pricing-plan.pug
	include ../trusted-by/trusted-by.pug
	include ../news/news.pug
	include ../trial/trial.pug
	include ../form/form.pug
	include ../footer/footer.pug
		
