.wrapper {
	background-color: aquamarine;
	padding: 0;
	z-index: 1;
	// &__content {
	// 	width: 1170px;
	// }
}
@media (max-width: 1120px) {
	.wrapper {
		a {
			font-size: 80%;
		}
	}
}
@media (max-width: 1920px) {
	.wrapper {
		width: 100%;
	}
}

@media (min-width: 1921px) {
	.wrapper {
		width: 1920px;
	}
}
