.how-it-works.d-flex.flex-wrap.justify-content-center
	h2 How Does It Work?
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.
	
	ul.d-flex.justify-content-between.flex-wrap
		li
			img(src="/src/assets/images/icon-document.svg", alt="").m-auto
			h3 Create An Account
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
		li
			img(src="/src/assets/images/icon-mail-blue.svg", alt="").m-auto
			h3 Confirm Email
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
		li
			img(src="/src/assets/images//icon-planchette.svg", alt="").m-auto
			h3 See Results
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
