include ../button/button.pug

.home.d-flex.flex-column.align-items-center
	h1 Best Desktop App for You
	p 
		|Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
		|sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		|adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	.home__buttons.d-flex.justify-content-between
		+button("Download")
		+button("Free Trial", "button_color_outline")
	.home__image