@import "../../styles/colors.scss";

header {
	background-color: $white-bg;
	position: relative;

	&::after {
		position: absolute;
		content: url("/src/assets/images/header-bg-cut.svg");
		filter: drop-shadow(0 0 42.5px rgba(127, 127, 127, 0.41));
		// height: 100%;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 0;
	}

	>a {
		z-index: 15;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%) translateY(50%);
		cursor: pointer;
	}
}