
footer.footer
	.footer__content.d-flex.flex-wrap.align-items-center.justify-content-between
		h5 © 2018 Copyright, All Rights Reserved by AppSon
		.footer__content__links.d-flex
			a(href="#") Terms & Condition
			a(href="#") Privacy Policy
			a(href="#") Help
		.footer__content__icons.d-flex.justify-content-between.align-items-center
			a(href="#")
				img(src="/src/assets/images/icon-facebook.svg", alt="")

			a(href="#")
				img(src="/src/assets/images/icon-twitter.svg", alt="")

			a(href="#")
				img(src="/src/assets/images/icon-youtube.svg", alt="")
	.footer__button
		a(href="#")
			img(src="/src/assets/images/icon-scroll.svg", alt="" id="scroll-up")
					
