.news#PAGES
	.news__content.d-flex.flex-wrap.justify-content-center
		h2 Latest News From Us
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.
		//- .break
		.news__blogs.d-flex.flex-wrap.justify-content-between
			.news__blog
				img(src="/src/assets/images/img-news-1.png", alt="")
				h3 The master bedroom suite is phenomenally spacious
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
				a(href="#") Continue Reading 
					span 
						img(src="/src/assets/images/icon-arrow.svg", alt="")
			.news__titles
				.d-flex.flex-nowrap.justify-content-between
					img(src="/src/assets/images/img-news-2.png", alt="")
					.news__titles__title
						h4 The master bedroom suite is phenomey spacious
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
				.d-flex.flex-nowrap.justify-content-between
					img(src="/src/assets/images/img-news-3.png", alt="")
					.news__titles__title
						h4 The master bedroom suite is phenomey spacious
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
				.d-flex.flex-nowrap.justify-content-between
					img(src="/src/assets/images/img-news-4.png", alt="")
					.news__titles__title
						h4 The master bedroom suite is phenomey spacious
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
				